	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="{% static 'img/fav.png' %}">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Bitcoin</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
			<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
			<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
			<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
			<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">					
			<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
			<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
			<link rel="stylesheet" href="{% static 'css/main.css' %}">
		</head>
		<body>

			  <header id="header" id="home">
			    <div class="container">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="index.html"><img src="{% static 'img/logo.png' %}" alt="" title="" /></a>
				      </div>
				     		    		
			    	</div>
			    </div>
			  </header><!-- #header -->

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>		
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-start">
						<div class="banner-content col-lg-12 col-md-12">
							<h5 class="text-white text-uppercase">Total Balance</h5>
							<h1 class="text-uppercase">
								12,356					
							</h1>
							<p class="text-white pt-20 pb-20">
								This is your current balance remaining. <br> To add money click on the button below.
							</p>
							<a href="#" class="primary-btn header-btn text-uppercase">Add Money</a>
						</div>												
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start convert Area -->
			<section class="convert-area" id="convert">
				<div class="container">
					<div class="convert-wrap">
						<div class="row justify-content-center align-items-center flex-column pb-30">
							<h1 class="text-white">Transaction Info</h1>
							<p class="text-white">Kindly fill the details below</p>							
						</div>
						<div class="row justify-content-center align-items-start">
							<div class="col-lg-2 cols-img">
								<img class="d-block mx-auto" src="{% static img/bitcoin.png" alt="">
							</div>
							<div class="col-lg-3 cols">
								<input type="text" name="feet" placeholder="feet" class="form-control mb-20">
								<input type="text" name="pounds" placeholder="pounds" class="form-control mb-20">
							</div>
							<div class="col-lg-3 cols">
								<input type="text" name="feet" placeholder="inches" class="form-control mb-20">
								<input type="text" name="pounds" placeholder="pounds" class="form-control mb-20">
								<a href="#" class="primary-btn header-btn text-uppercase mb-20">Your Transactions</a>
							</div>
						</div>						
					</div>
				</div>	
			</section>
			<!-- End convert Area -->
			

			<!-- Start simple-services Area -->
			<section class="simple-services-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 single-services">
							<img src="{% static 'img/s1.png' %}" alt="">
							<a href="#"><h4 class="pt-30 pb-20">OIL</h4></a>
							<p>
								The brand has also introduced Vivo, India’s first oil for diabetes care. Fortune oil has been conferred with multiple prestigious awards such as the Superbrands Award, the Reader’s Digest Trusted Brand Award
							</p>
						</div>
						<div class="col-lg-4 single-services">
							<img src="{% static 'img/s2.png' %}" alt="">
							<a href="#"><h4 class="pt-30 pb-20">CAPITAL</h4></a>
							<p>
								Adani Capital aims to play a pivotal role in bringing about an inclusive growth by focusing on rural development 
							</p>
						</div>
						<div class="col-lg-4 single-services">
							<img src="{% static 'img/s3.png' %}" alt="">
							<a href="#"><h4 class="pt-30 pb-20">EDUCATION</h4></a>
							<p>
								Adani Foundation has touched more than 3.2 million lives in 2250 villages across 15 states through its work in Education, Community Health, Community Infrastructure Development
							</p>
						</div>												
					</div>
				</div>	
			</section>
			<!-- End simple-services Area -->
			

		




			<!-- End footer Area -->

			<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="{% static 'js/easing.min.js' %}"></script>			
			<script src="{% static 'js/hoverIntent.js' %}"></script>
			<script src="{% static 'js/superfish.min.js' %}"></script>	
			<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
			<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>	
			<script src="{% static 'js/owl.carousel.min.js' %}"></script>			
			<script src="{% static 'js/jquery.sticky.js' %}"></script>
			<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>			
			<script src="{% static 'js/parallax.min.js' %}"></script>	
			<script src="{% static 'js/waypoints.min.js' %}"></script>
			<script src="{% static 'js/jquery.counterup.min.js' %}"></script>			
			<script src="{% static 'js/mail-script.js' %}"></script>	
			<script src="{% static 'js/main.js' %}"></script>	 %}
		</body>
	</html>



